.dice {
    background: #efefef;
    display: flex;
    flex-direction: column;
    width: 40px;
}

.dice > div {
    width: 40px;
    height: 40px;
}


.one {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    background: #444;
    border-radius: 40%;
    display: block;
    height: 5px;
    width: 5px;
}

.two {}

.two-container,
.three-container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;   
    justify-content: space-around;
    transform: rotateZ(-45deg);
}

.five,
.four {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.five-container,
.four-container {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

.five {
    position: relative;
}

.five > .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.six {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.six-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}