.layout-dice-section {
  display: flex;

  align-items: stretch;
  justify-content: space-evenly;
  padding: 10px 0;

  position: fixed;
  position: -webkit-sticky; /* Safari */
  bottom: 0;
  width: 100%;

  z-index: 4;

}

@media (min-width: 520px) {
  .layout-dice-section {
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .layout-dice-section {
    max-width: 40vw;
  }
}

 /* @media (min-width: 480px) {
  .layout-yatzy-table {}
}  */


@media (min-width: 520px) {
  .layout-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
}