:root {
    --body-color: #444;
    --body-background: #fff;
}


@media (prefers-color-scheme: dark) { 
    :root {
        --body-color: yellow;
        --body-background: #222;
    }
}

html, body {
    margin: 0;
    padding: 0;
}


input {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font: 1rem/1.5 sans-serif;
    color: var(--body-color);
    background: var(--body-background);
  }

